body {
    color: white;
    background-color: #234;
    font-family: Monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

nav {
    margin-right: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 30px;
    background-color: transparent;
    border: none;
    float: left;
}

div {
    font-size: 20px;
    padding: 5px;
    border: solid;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.principal, .inicio, .meio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px;
}

.meio {
    margin-top: 10%;
    background-color: #114;
}

section.cavalos, section.futebol {
    background-color: #2E2E2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 11px;
    padding: 10px;
    text-align: center;
    width: 350px;
    margin: 10px auto;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 7px;
    padding: 5px;
    text-align: center;
}

p.final {
    font-size: 10px;
    background-color: #358;
}

#menu {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #2E2E2E;
    position: relative;
    padding: 20px;
    margin-right: 70%;
}

.mn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 15px;
}

.regras {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: #347;
    border-radius: 8px;
    width: 390px;
    height: 100px;
    text-align: center;
    margin: 10px;
}

a {
  font-size: 15px;
  text-decoration: none;
  color: white;
}

@media (min-width: 950px) {
    section.cavalos, section.futebol {
        font-size: 25px;
        padding: 1px;
        min-width: 850px;
    }
    
    .principal, .inicio, .meio {
      font-size: 25px;
      padding: 10px;
      min-width: 650px;
    }
    
    #menu {
      
    }
  
}